header {
  background-color: #0F3D62;
  color: white;
  padding: 1vw;
}

header span {
  margin: 5px;
}

.navbar img {
  width: 15vw;
  margin-left: 3vw;
}

.navList {
  list-style-type: none;
  font-size: large;
  color: #0983BB;
}

.navList li a:hover {
  color: #0F3D62;
  text-decoration: underline;
}


.navDirect a {
  text-decoration: none;
  color: inherit;
}

.navDirect ul {
  display: flex;
}

.navDirect li {
  margin: 0 1.2vw;
}

.buttonContainer {
  display: flex;
}

.buttonContainer .btn {
  width: 9vw;
  margin-right: 2vw;
  background-color: #39c0ee;
  border: none;
}

.hero-background {
  background-image: url("./img/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 0 20vw;
}

.hero-background h1 {
  margin-bottom: 3vw;
}

.hero-background p {
  font-size: large;
  margin-bottom: 3vw;
}

.hero-background .btn {
  margin: 0 3vw;
  padding: 0.5vw;
  text-decoration: underline;
  font-weight: 400;
  width: 20vw;
  background-color: #39c0ee;
}

.creditworthy {
  margin: 5vh 0;
  text-align: center;
}

.hero-cardgroup {
  margin: 0 15vw;
  text-align: center;
}

.hero-card {
  height: 30vh !important;
  margin: 0 1vw;
  border-color: black !important;
  border-left: black 1px solid !important;
}

.hero-card img {
  width: 3vw;
  margin: 1vw 0;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 5vh;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: #f8f8f8;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.hero-text {
  flex: 1;
  padding-right: 20px;
}

.hero-logo {
  flex: 0;
  display: flex;
  align-items: center;
}

.hero-logo img {
  max-height: 205px;
  max-width: 420px;
  margin-right: 10px;
}

.service-cardgroup1 {
  margin: 5vh 10vw;
  text-align: center;
}

.service-cardgroup2 {
  text-align: center;
  margin: 5vh 10vw;
}

#pricing {
  padding-top: 10vh;
  margin: 10vh 10vw;
  background-color: #f8f8f8;
}

.pricing-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

}

.text-container {
  width: 50%;
  margin-top: 25%;
  padding: 0 5vw;
}

.text-container h2 {
  font-weight: lighter;
}

.circle-stack {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 5vw;
}

.circle {

  width: 150px;
  height: 150px;
  background-color: #eaeaea;
  border: 5px solid #0F3D62;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.circle1 {
  margin-bottom: 20px;
}

.circle2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.circle h3 {
  font-size: medium;
  line-height: 1.2;
  color: #0F3D62;
  text-align: center;
  margin: 0;
  padding: 0;
}

.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid rgb(105, 105, 105);
  background-color: #f8f8f8;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.3);

}

.circle-container h1,
.circle-container h2 {
  margin-top: 1vh;
  text-align: center;
  margin-bottom: 2vh;
}

.price-background {
  background-color: #0F3D62;
  color: white;
  width: 100%;
}

.price-background h1 {
  font-size: x-large;
}

.price-background h2 {
  font-size: large;
  font-weight: lighter;
}

.price-list {
  list-style-type: none;
  padding: 0;
  line-height: 2.5;
  text-align: center;

}

.price-cost {
  font-size: xx-large;
}

.errors-list {
  list-style-type: none;
  padding-left: 20px;

}

.price-image {
  background-image: url("./img/credit-score.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
}

.pricing-container2 {
  margin-top: 10vh;
  color: white;
  text-shadow: 3px 3px 3px #000000;
  padding: 0 3vw;
}

.text-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

Button.container-button {
  margin-bottom: 2vh;
  background-color: #39c0ee;
  border: none;
  text-decoration: underline;
  ;
}


.fancy-underline {
  position: relative;
}

.fancy-underline::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.faq-title {
  text-align: center;
}

.faq-title h1 {
  font-weight: bold;
}

.faq-title h2 {
  font-weight: lighter;
  font-size: x-large;
  margin-bottom: 3vh;
}

.accordion-container-wrapper {
  display: flex;
  margin: 0 10vw;
  margin-bottom: 10vh;
}

.accordion-container {
  flex: 1;
}



.accordion-container .accordion-header {
  padding: 10px 20px;
  cursor: pointer;
}

.accordion-container .accordion-body {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #c6c6c6;
}

.carousel-image {
  background-image: url("./img/woman-at-pc.jpg");
  margin: 0 15vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 5vw;
  text-align: center;
}

#contact {
  margin: 10vh 10vw;
  background-color: #f8f8f8;
  padding: 5vh 0;
}

.contact-blurb {
  text-align: center;
  margin-bottom: 5vh;
}

.contact-blurb h1 {
  margin-top: 1vh;
  font-weight: bold;
}

.contact-blurb h2 {

  font-weight: lighter;
  font-size: xx-large;
}

.contact-blurb h3{
  margin-top: 2vh;
  font-weight: lighter;
  font-size: x-large;
}

Button.form-button {
  margin-top: 2vh;
  background-color: #39c0ee;
  border: none;

}

.transparent-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  outline: none;
}

.transparent-input:focus {
  border-bottom: 1px solid blue; /* Customize the color for the focused state */
}

footer{
  background-color: #f8f8f8;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10vw;
}

.logo-container img {
  width: 15vw;
}

.links-container {
  display: flex;
}

.links-container a {
  font-weight: bold;
  text-decoration: none;
  margin: 0 1vw;
  color: #7a7a7a;
}

.copy-container {
  margin: 0 10vw;
  margin-top: 10px; 
  padding-top: 5vh;
  text-align: center;
  border-top: 1px dashed black;
}
